mat-card {
  margin-bottom: 5%;
}

mat-card-title {
  font-size: 2em;
  font-weight: 400;
}

mat-card-subtitle {
  font-size: 1.5em;
}

mat-card-content {
  font-size: 1.2em;
}

li {
  list-style: none;
}