<div id="education" class="container">
    <mat-toolbar class="section-heading" color='primary'>
        <span>Education</span>
    </mat-toolbar>

    <div class="content">
        <mat-card>
            <mat-card-title>
                Bottega
            </mat-card-title>

            <mat-card-subtitle>
                Full Stack Web Development Bootcamp
            </mat-card-subtitle>

            <mat-card-content>
                <ul>
                    <li>Accelerated Software Engineering course.</li>
                    <li>Certified Full Stack Web Developer</li>
                    <li>Learned how to build a full stack web application from the ground up.</li>
                    <li>Created full-stack web applications complete with Angular front end and Ruby microservice.</li>
                    <li>Built a firm understanding of MVC frameworks, especially Ruby on Rails.</li>
                </ul>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-title>
                Utah Valley University
            </mat-card-title>

            <mat-card-subtitle>
                General Education
            </mat-card-subtitle>
        
            <mat-card-content>
                <ul>
                    <li>Accelerated Software Engineering course.</li>
                    <li>Certified Full Stack Web Developer</li>
                    <li>Learned how to build a full stack web application from the ground up.</li>
                    <li>Created full-stack web applications complete with Angular front end and Ruby microservice.</li>
                    <li>Built a firm understanding of MVC frameworks, especially Ruby on Rails.</li>
                </ul>
            </mat-card-content>
        </mat-card>
    </div>
</div>