<div class="container">
    <mat-toolbar color="primary" class="section-heading">
        <span>About</span>
    </mat-toolbar>
    
    <div class="content">
        <p>Hi, my name is Aaron Harrison and I am a full stack web developer based in Orem, Utah. I love tech and learning all of
        the ins and outs that come along with it. I have enjoyed the journey of turning that love into personal success and
        building some fun projects along the way. I am a current student at UVU and am looking forward to learning all about
        tech and being a “student” for the entirety of my career. I believe to stay ahead in this industry you need to be open
        to constantly adapting to the latest technologies. The world of tech is rapidly advancing and I want to be on the
        leading edge and embrace the changes that come.</p>
    </div>
</div>
