<div class="container">
  <mat-toolbar class="section-heading" color="primary">
    <span>Experience</span>
  </mat-toolbar>

  <div class="content">
    <mat-card>
      <mat-card-title>
        Freelance Web Developer
      </mat-card-title>
  
      <mat-card-content>
        <ul>
          <li>Designed and developed a web application that serves as a brokerage service for water rights</li>
          <li>Gained experience in quality assurance by vigorous testing of the applications</li>
          <li>Created a number of hobby projects to gain new skills and learn new technologies</li>
        </ul>
      </mat-card-content>
    </mat-card>
  
    <mat-card>
      <mat-card-title>
        Website Quality Assurance Specialist
      </mat-card-title>
  
      <mat-card-subtitle>
        Boostability
      </mat-card-subtitle>
  
      <mat-card-content>
        <ul>
          <li>Responsible for checking the quality of the design/build of websites</li>
          <li>Built valuable experience in industry standards of design</li>
          <li>Developed a strong eye for detail</li>
          <li>Helped guide website builds through the production lifecycle</li>
        </ul>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Sales Associate
      </mat-card-title>

      <mat-card-subtitle>
        Sprint
      </mat-card-subtitle>
    
      <mat-card-content>
        <ul>
          <li>Performed troubleshooting for mobile devices</li>
          <li>Boosted team sales by utilizing eye for detail</li>
          <li>Highly regarded in customer satasfaction with a number of 5 star reviews</li>
          <li>Developed strategies for explaining complex processes in layman’s terms</li>
        </ul>
      </mat-card-content>
    </mat-card>
  </div>
</div>