

.card-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 4% 0;
}

mat-card {
  margin: 1% 0.5%;
  width: 400px;
  height: 325px;

  &:hover {
    cursor: pointer;
  }
}

h2 {
  margin: 15px 0 12px 0;
  font-size: 2em;
  font-weight: 400;
}