<div id="projects" class="container">
  <mat-toolbar color="primary" class="section-heading">
    <span>Projects</span>
  </mat-toolbar>

  <div class="card-container">
    <mat-card>
      <img mat-card-image src="..\..\assets\images\materialShoppingListScreenshot.JPG" alt="material shopping list">
      <h2>Material Shopping List</h2>
      <mat-card-content>
        This is the Material Shopping List application
      </mat-card-content>
      
    </mat-card>

    <mat-card>
      <img mat-card-image src="..\..\assets\images\utahWaterRightExchangeScreenshot.JPG" alt="Utah Water Right Exchange">
      <h2>Utah Water Right Exchange</h2>
      <mat-card-content>
        This is a water right brokerage service.
      </mat-card-content>
    
    </mat-card>

    <mat-card>
      <img mat-card-image src="..\..\assets\images\oldPortfolioScreenshot.JPG" alt="aaron harrison old portfolio">
      <h2>Old Portfolio</h2>
      <mat-card-content>
        This is my old portfolio
      </mat-card-content>
    
    </mat-card>

    <mat-card>
      <img mat-card-image src="..\..\assets\images\oldPortfolioScreenshot.JPG" alt="aaron harrison old portfolio">
      <h2>Old Portfolio</h2>
      <mat-card-content>
        This is my old portfolio
      </mat-card-content>
    
    </mat-card>

    <mat-card>
      <img mat-card-image src="..\..\assets\images\oldPortfolioScreenshot.JPG" alt="aaron harrison old portfolio">
      <h2>Old Portfolio</h2>
      <mat-card-content>
        This is my old portfolio
      </mat-card-content>
    
    </mat-card>

    <mat-card>
      <img mat-card-image src="..\..\assets\images\oldPortfolioScreenshot.JPG" alt="aaron harrison old portfolio">
      <h2>Old Portfolio</h2>
      <mat-card-content>
        This is my old portfolio
      </mat-card-content>
    
    </mat-card>
  </div>
</div>
