<div id="contact" class="contact-container">
    <mat-toolbar class="section-heading">
        <span>Contact</span>
    </mat-toolbar>

    <div class="contact-components">
        <mat-card>
            <ul>
                <li>
                    <a href="mailto:aaron.harrison.j@gmail.com">
                        <fa-icon class="icon" icon="envelope"></fa-icon>
                        aaron.harrison.j@gmail.com
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://www.linkedin.com/in/aaronharrison16">
                        <fa-icon class="icon" [icon]="['fab', 'linkedin-in']"></fa-icon>
                        <span style="margin-left: 10px;">linkedin.com/in/aaronharrison16</span>
                    </a>
                </li>
                <li>
                    <a target="_blank" href="https://github.com/aaronharrison16">
                        <fa-icon class="icon" [icon]="['fab', 'github']"></fa-icon>
                        github.com/aaronharrison16
                    </a>
                </li>
            </ul>
        </mat-card>
    </div>
</div>