.contact-container {
  height: 100vh;
  width: 100%;
  background-color: #FF6D3F;
}

.contact-components {
  margin: 10%;
}

.icon {
  font-size: 2em;
  margin-right: 35px;
}

li {
  list-style: none;
  margin-bottom: 20px;
}

a {
  color: #03A9F4;
  font-weight: 400;
  font-size: 2em;
  text-decoration: none;
  margin: 10px;
  transition: all 0.25s ease;

  &:hover {
    color: rgb(55, 192, 255);
    text-decoration: underline;
  }
}

@media (max-width: 1050px) {
  a {
    font-size: 1em;
    margin: 0px;
  }

  .icon {
    font-size: 1em;
    margin-right:15px;
  }

  .contact-components {
    margin: 5px;
  }
}