$primary-color: #03A9F4;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-list {
  padding: 0px;
  overflow: hidden;

  span {
    font-size: 1.5em;
    margin-left: 15px;
    
  }

  a {
    height: 60px;
    transition: all 0.25s ease;
    font-size: 15px;

    &:hover {
      background-color: #f8f8f8;
      border-left: 6px solid $primary-color;
    }
  }
}

.active {
  background-color: #f8f8f8;
  border-left: 6px solid $primary-color;
}

.logo{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primary-color;
  height: 140px;
  border-bottom: 1px solid #b9b9b9;
  cursor: pointer;

  h1 {
    margin: 0px 0px 10px 0px;
    font-weight: lighter;
    color: white;
  }
}