$primary-color: #03A9F4;

.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
  z-index: 1;
}

.nav-list {
  padding: 0px;

  span {
    font-size: 1.5em;
    margin-left: 15px;
    
  }

  a {
    height: 60px;
    width: 190px;
    transition: all 0.25s ease;
    font-size: 15px;

    &:hover {
      background-color: #f8f8f8;
      border-left: 4px solid $primary-color;
    }
  }
}

.logo{
  background-color: #f8f8f8;
  padding: 25px;
  border-bottom: 1px solid #b9b9b9;

  h1 {
    margin: 0px 0px 10px 0px;
    font-weight: lighter;
    color: $primary-color;
  }

  span {
    color: black .8;
  }
}