<nav>
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #drawer class="sidenav" fixedInViewport
        [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
        [mode]="(isHandset$ | async) ? 'over' : 'side'"
        [opened]="(isHandset$ | async) === false">
      <div routerLink="/" class="logo" *ngIf="(isHandset$ | async) === false">
        <div>
          <h1>Aaron <br> Harrison</h1>
          <span>Full Stack Developer</span>
        </div>
      </div>
      <mat-nav-list class="nav-list">
        <a mat-list-item routerLinkActive='active' routerLink="about"><mat-icon style="color: #26a69a;">nature_people</mat-icon><span>About</span></a>
        <a mat-list-item routerLinkActive='active' routerLink="projects"><mat-icon style="color: #ffeb3b;">flash_on</mat-icon><span>Projects</span></a>
        <a mat-list-item routerLinkActive='active' routerLink="skills"><mat-icon style="color: #f44336;">bubble_chart</mat-icon><span>Skills</span></a>
        <a mat-list-item routerLinkActive='active' routerLink="education"><mat-icon style="color: #9c27b0;">school</mat-icon><span>Education</span></a>
        <a mat-list-item routerLinkActive='active' routerLink="experience"><mat-icon style="color: #43a047;">ballot</mat-icon><span>Experience</span></a>
        <a mat-list-item routerLinkActive='active' routerLink="contact"><mat-icon style="color: #ff5722;">send</mat-icon><span>Contact</span></a>
        <a mat-list-item target="_blank" href="https://drive.google.com/open?id=1XRdjp80aMFpMFndFxSmWBG43ZkeI-SBN"><mat-icon style="color: #03A9F4;">business_center</mat-icon><span>Resume</span></a>
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      <mat-toolbar class="mobile-header" color="primary" *ngIf="isHandset$ | async">
        <button
          type="button"
          aria-label="Toggle sidenav"
          mat-icon-button
          (click)="drawer.toggle()">
          <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
        </button>
        <span routerLink="/">Aaron Harrison</span>
      </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</nav>
