<div class="container">
  <mat-toolbar class="section-heading" color="primary">
    <span>Skills</span>
  </mat-toolbar>

  <div class="content">
    <mat-card>
      <mat-card-title>
        HTML/CSS
      </mat-card-title>
      <hr>
      <div class="skills-container">
        <div>
          <img src="..\..\assets\images\html5_logo.svg" alt="HTML5 logo">
          <span>HTML5</span>
        </div>

        <div>
          <img src="..\..\assets\images\css3_logo.svg" alt="CSS3 logo">
          <span>CSS3</span>
        </div>

        <div>
          <img src="..\..\assets\images\sass_logo.svg" alt="Sass logo">
          <span>SCSS</span>
        </div>

        <div>
          <img src="..\..\assets\images\bootstrap_logo.svg" alt="Bootstrap logo">
          <span>Bootstrap</span>
        </div>
      </div>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Javascript
      </mat-card-title>
      <hr>
      <div class="skills-container">
        <div>
          <img src="..\..\assets\images\angular_logo.svg" alt="Angular logo">
          <span>Angular</span>
        </div>
         
        <div>
          <img src="..\..\assets\images\javascript_logo.svg" alt="Javascript logo">
          <span>Javascript</span>
        </div>
      </div>        
    </mat-card>

    <mat-card>
      <mat-card-title>
        Backend
      </mat-card-title>
      <hr>
      <mat-card-content>

        <div class="skills-container">
          <div>
            <img src="..\..\assets\images\ruby_logo.svg" alt="ruby logo">
            <span>Ruby</span>
          </div>

          <div>
            <img src="..\..\assets\images\ruby_on_rails_logo.svg" alt="ruby on rails logo">
            <span>Ruby on Rails</span>
          </div>

          <div>
            <img src="..\..\assets\images\firebase_logo.svg" alt="firebase logo">
            <span>Firebase</span>
          </div>
        </div>
      </mat-card-content>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Other
      </mat-card-title>
      <hr>

      <div class="skills-container">
        <div>
          <img src="..\..\assets\images\github_logo.svg" alt="github logo">
          <span>Github</span>
        </div>

        <div>
          <img src="..\..\assets\images\heroku_logo.svg" alt="heroku logo">
          <span>Heroku</span>
        </div>
      </div>
    </mat-card>
  </div>
</div> 
