mat-card {
  margin-bottom: 5%;
}

mat-card-title {
  font-size: 2em;
  font-weight: 400;
}

.skills-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  div {
    margin: 30px 30px 30px 55px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  span {
    margin-top: 15px;
    font-size: 1.5em;
    color: #8c8b8a;
  }
}

img {
  width: 160px;
  height: 100px;
}