<div id="skills" class="container">
  <mat-toolbar class="section-heading" color="primary">
    <span>Skills</span>
  </mat-toolbar>

  <div class="content">
    <mat-card>
      <mat-card-title>
        HTML/CSS
      </mat-card-title>
      <hr>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Javascript
      </mat-card-title>
      <hr>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Backend
      </mat-card-title>
      <hr>
    </mat-card>

    <mat-card>
      <mat-card-title>
        Other
      </mat-card-title>
      <hr>
    </mat-card>
  </div>
</div> 
