html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

p {
  font-size: 25px;
  line-height: 2em;
  font-weight: 300;
}

.container {
  width: 100%;
  min-height: 100vh;
}

.content {
  padding: 5% 10%;
}

.section-heading {
  height: 140px !important;

  span {
    margin-left: 3%; 
    font-size: 3em;
    font-weight: 400;
  }
}
 @media (max-width: 600px) {
   .section-heading span {
     margin-left: 10px;
   }

   .container {
     margin-top: 56px;
   }
 }